/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* media queries */
/* for mobile phone */
@media screen and (max-width:688px) {
    main {
        width: 100%;
    }

    .top-banner {
        width: 100%;
        flex-direction: column;
        margin: 5px;
        margin-bottom: 0;
    }

    .top-banner .banner-text {
        padding-left: 20px;
    }

    main .flexible-container {
        flex-direction: column;
        margin: 5px;
        margin-top: 10px;
    }

    .flexible-container nav {
        background-color: white;
        height: auto;
        width: 100%;
    }

    .flexible-container nav a {
        border: 1px solid rgb(211, 211, 211);
        margin-top: 10px;
    }

    .flexible-container .blogs {
        margin-top: 10px;
        margin-right: 0;
        display: grid;
        grid-template-columns: min-content;
        gap: 0;
        row-gap: 10px;
    }

    .flexible-container .blogs .blog {
        width: 100%;
    }

    footer {
        padding: 10px;
    }

    footer .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer .social-media {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* for tablet devices */
@media screen and (min-width:689px) and (max-width: 992px) {
    main {
        width: 100%;
    }

    .flexible-container {
        flex-direction: column;
    }

    .flexible-container nav {
        height: auto;
        width: 100%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .flexible-container nav a {
        border: 1px solid rgb(211, 211, 211);
    }

    .flexible-container .blogs {
        margin-top: 20px;
        display: grid;
        grid-template-columns: min-content min-content;
        gap: 10px;
        margin-right: 10px;
    }

    .flexible-container .blogs .blog {
        width: 100%;
    }

    .flexible-container .blogs .blog .blog-text {
        padding-left: 15px;
        padding-right: 20px;
    }

    main .button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    footer .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .links a {
        padding-top: 10px;
    }
}

/* animation */
@keyframes player {
    0% {
        transform: scale(0.5) translateX(50px);
        opacity: 0;
    }

    100% {
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}

@keyframes left-transition {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* common settings */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

main {
    max-width: 1240px;
    margin: 0 auto;
}

/* banner styles */
.top-banner {
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-top: 20px;
    border-radius: 20px;
}

.stage {
    width: 100%;
    height: 100%;
}

.stage .animate {
    position: relative;
    animation: player 2s ease-in-out 0s 1 alternate;
}

.banner-text {
    width: 50%;
    color: white;
    padding-left: 80px;
    padding-bottom: 80px;
    animation: left-transition 0.75s;
}

.banner-text h1 {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 0;
}

.banner-text p {
    padding-bottom: 20px;
}

.banner-text a {
    text-decoration: none;
    color: white;
    padding: 2% 5%;
    background-color: red;
    border-radius: 5px;
}

.banner-text a:hover{
    background-color: rgb(255, 70, 70);
}

.banner-image {
    width: 50%;
}

.banner-image img {
    width: 90%;
}

/* flexible container section */
.flexible-container {
    margin-top: 100px;
    display: flex;
    width: 100%;
    padding-bottom: 100px;
}

/* navigation menu */
nav {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display: flex;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.current-page {
    background-color: red;
    color: white;
}

/* main contents */
/* blog */
.blogs {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.blogs .blog img {
    margin-bottom: 10px;
}

.blogs .blog .blog-text {
    padding-left: 15px;
}

.blogs .blog a {
    border: 1px solid black;
    padding: 0 1%;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
    background-color: white;
    color: black;
    align-items: center;
}

.blogs .blog .blog-bottom {
    display: flex;
    align-items: center;
}

.blogs .blog .blog-bottom img {
    height: 24px;
    width: 24px;
    padding-right: 10px;
    padding-top: 10px;
}

.blogs .blog .blog-bottom p {
    padding-right: 20px;
}

/* view all button */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    display: none;
}

.button a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1% 3%;
    background-color: red;
    border-radius: 5px;
}

/* footer styles */
footer {
    background-color: rgb(22, 22, 22);
    color: white;
    text-align: center;
    padding: 80px;
}

.hr {
    margin: 30px 50px;
    border: none;
    height: 1px;
    background-color: rgb(36, 36, 36);
}

footer .links {
    display: flex;
    justify-content: center;
}

footer .links a {
    text-decoration: none;
    color: rgb(180, 180, 180);
    margin: 0 20px;
}

footer .social-media {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

footer .social-media a {
    text-decoration: none;
    color: rgb(180, 180, 180);
    margin: 0 20px;
    font-size: 25px;
}